.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  font-size: 3.25rem;
  color: white;
}

.container > h3 {
  color: white;
}

.email {
  display: flex;
  height: 4.25rem;
  justify-content: center;
  align-items: center;
}

.email > h3 {
  color: white;
}

.email > input {
  width: 30rem;
  height: 100%;
  font-size: 1.25rem;
  padding: 0 0 0 0.5rem;
}
.email > button {
  border: none;
  background-color: red;
  color: white;
  width: 8.5rem;
  height: 4.5rem;
  font-size: 1.25rem;
  padding: 0 0.5rem;
}

@media screen and (max-width: 1000px) {
  .email {
    flex-direction: column;
    align-items: center;
    height: 8rem;
  }

  .email > button {
    margin-top: 0.5rem;
  }
}
