body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
